
.product-container{
    display:grid;
    grid-template-columns: 4fr 1fr;
    background: rgb(240, 235, 235);

}

.products{
    padding: 10px 120px;
    background:white;
}
.product-card-box{
    padding: 0px 15px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 12px;
}

.btn{
    border: none;
    width: 100%!important;
    color: white;
    background: rgb(43, 54, 71)!important;
    padding:12px 4px;
    border-radius: 9px;
    box-shadow: 0px 2px 11px 0px rgb(220, 217, 217);
    cursor: pointer;
}