 
.flex{
    display: flex;
    align-items: center;
    margin-top: 10px;
    /* background-color: rgba(209, 207, 207, 0.737); */
    padding:6px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.331);
    /* border-radius: 12px; */
    justify-content: space-between;
   
}
.details{
    margin-left: 10px;
}
.box1{
    display: flex;
}
.flex> .box1 > img{
    width: 60px;
    height: 60px;
    border-radius: 12px;
}
.name{
    margin: 0;
}
.price{
    margin:2px;
}
.delete{
    cursor: pointer;
    background: rgba(255, 2, 2, 0.371);
    border: none;
    padding: 6px 9px;
    color: rgb(173, 9, 9);
    border-radius:3px;
    border-radius: 100%;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 10px;
}
.icon{
    width: 16px;
}
